<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Menu avec Flask</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
</head>
<body>

  <div class="menu">
    <a href="#" class="">Templates</a>
    <a href="#" class="">Design intelligent</a>
    <a href="#" class="">Outils créatifs</a>
    <a href="#" class="">SEO et analyse</a>
  </div>

  <script src="{{ url_for('static', filename='js/script.js') }} "></script>

</body>
</html>
